@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  background-color: #000000;
}

.conteiner {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 5px 10px 2px 5px;
}
.btn::before {
  content: url(../img/shot.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  background-color: #000000;
  border-radius: 50%;
  padding: 4px 2px 0 2px;
}
.btn:hover {
  background: #e6e6e6;
}
.btn:active {
  background: #f2f2f2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-wrap {
  background: #181818;
}
.header__logo-link {
  margin-right: auto;
}
.header__menu-link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: white;
  margin-right: 32px;
}
.header__menu-link:hover {
  color: wheat;
}
.header__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: black;
  padding: 9px 20px 13px 20px;
  background-color: white;
  border-radius: 14px;
}
.header__btn:hover {
  background-color: #d2cdcd;
}
.header__btn:active {
  background-color: #e6e3e3;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 460px;
  padding-bottom: 45px;
}
.hero-wrapper {
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .hero-wrapper {
    background-image: url("../img/hero-bg@2x.jpg");
  }
}
.hero__pretitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}
.hero__title {
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #C0C0C0;
  width: 42%;
  margin-bottom: 10px;
}
.hero__photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 16px;
}
.hero__photo-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
}
.hero__photo-info-item img {
  margin-right: 5px;
}

.wedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 115px;
  padding-bottom: 100px;
}
.wedo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.wedo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 40px;
}
.wedo__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 75%;
}
.wedo__grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 300px 45px 30px 30px;
  height: 600px;
}
.wedo__grid-item--01 {
  background-image: url("../img/wedo-bg-img-01.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .wedo__grid-item--01 {
    background-image: url("../img/wedo-bg-img-01@2x.jpg");
  }
}
.wedo__grid-item--02 {
  background-image: url("../img/wedo-bg-img-02.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .wedo__grid-item--02 {
    background-image: url("../img/wedo-bg-img-02@2x.jpg");
  }
}
.wedo__grid-item--03 {
  background-image: url("../img/wedo-bg-img-03.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .wedo__grid-item--03 {
    background-image: url("../img/wedo-bg-img-03@2x.jpg");
  }
}
.wedo__grid-item--04 {
  background-image: url("../img/wedo-bg-img-04.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .wedo__grid-item--04 {
    background-image: url("../img/wedo-bg-img-04@2x.jpg");
  }
}
.wedo__grid-item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.wedo__grid-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 15px;
}

.mount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 600px;
  padding-top: 260px;
  padding-bottom: 40px;
}
.mount-wrap {
  background-image: url("../img/mount-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .mount-wrap {
    background-image: url("../img/mount-bg@2x.jpg");
  }
}
.mount__main {
  width: 23%;
}
.mount__main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mount__main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.mount__photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: auto;
}

.gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}
.gear-wrap {
  background-image: url("../img/gear-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50% 100%;
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .gear-wrap {
    background-image: url("../img/gear-bg@2x.jpg");
  }
}
.gear__left {
  width: 50%;
  padding-top: 173px;
  padding-bottom: 153px;
}
.gear__left-pretitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
}
.gear__left-title {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.gear__left-text {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.gear__left-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.gear__right {
  width: 50%;
  margin-top: auto;
  padding-bottom: 40px;
}
.gear__right-photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 16px;
}

.green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 600px;
  padding-top: 260px;
  padding-bottom: 40px;
}
.green-wrap {
  background-image: url("../img/green-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .green-wrap {
    background-image: url("../img/green-bg@2x.jpg");
  }
}
.green__main {
  width: 23%;
}
.green__main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.green__main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.green__photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: auto;
}

.logos {
  padding-top: 115px;
  padding-bottom: 140px;
}
.logos__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.logos__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 40px;
}
.logos__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 600px;
  padding-top: 260px;
  padding-bottom: 40px;
}
.sky-wrap {
  background-image: url("../img/sky-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2) and (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi) and (min-resolution: 1.5dppx) {
  .sky-wrap {
    background-image: url("../img/sky-bg@2x.jpg");
  }
}
.sky__main {
  width: 23%;
}
.sky__main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.sky__main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.sky__photo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: auto;
}

.need {
  padding-top: 120px;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.need__title {
  width: 40%;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 12px;
}
.need__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 12px;
}

.footer {
  padding: 100px 0;
}
.footer__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 36px;
  border-bottom: 2px solid white;
}
.footer__one-img {
  margin-bottom: 20px;
}
.footer__one-logo {
  margin-right: auto;
}
.footer__one-logo-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__one-areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 10px;
  margin-right: 55px;
}
.footer__one-areas-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
}
.footer__one-areas-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__one-areas-link:hover {
  color: wheat;
}
.footer__one-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 10px;
  margin-right: 100px;
}
.footer__two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 1fr;
  grid-template-columns: 65% 1fr;
  -ms-grid-rows: -webkit-min-content -webkit-min-content;
  -ms-grid-rows: min-content min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  padding: 36px 0;
  border-bottom: 2px solid white;
}
.footer__two-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__two-text {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__two-form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  width: 100%;
  height: 52px;
  padding: 10px;
}
.footer__two-form-input {
  border: none;
  background-color: transparent;
  width: 100%;
  outline: none;
}
.footer__two-form-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 11px;
  padding: 5px 10px;
}
.footer__two-form-btn:hover {
  background-color: #272727;
}
.footer__three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}
.footer__three-copy {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__three-social a {
  margin-left: 20px;
}
.footer__three-social a:hover path {
  fill: wheat;
}
/*# sourceMappingURL=main.css.map */
