.gear-wrap
    section(class="gear conteiner")
        .gear__left
            p(class="gear__left-pretitle") The Gear cage
            h2(class="gear__left-title") The tools that we use.
            p(class="gear__left-text").
                The say that "no place is boring 
                if you've had a good night's sleep
                and have a pocket full of unexposed 
                film". While we don't shoot (a lot) 
                of film these days — these are the 
                tools that we actually use everyday 
                to capture the amazing things around us.
            a(class="gear__left-link wedo__grid-item-link" href="#") Check it out
        .gear__right
            div(class="gear__right-photo-info")
                p(class="hero__photo-info-item")
                    img(src="img/photo-info-pic-01.svg", alt="") 
                    |0,8''
                p(class="hero__photo-info-item")
                    img(src="img/photo-info-pic-02.svg", alt="") 
                    |f/5,6
                p(class="hero__photo-info-item")
                    img(src="img/photo-info-pic-03.svg", alt="") 
                    |100
                p(class="hero__photo-info-item")
                    img(src="img/photo-info-pic-04.svg", alt="") 
                    | Sweden