.green-wrap
    section(class="green conteiner")
        div(class="green__main")
            h2(class="green__main-title") Monstera Leafs
            p(class="green__main-text").
                Vestibulum sit amet urna turpis. 
                Mauris euismod elit et nisi ultrices, 
                ut faucibus orci tincidunt.
        div(class="green__photo-info")
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-01.svg", alt="") 
                |1/400s
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-02.svg", alt="") 
                |f/3,5
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-03.svg", alt="") 
                |100
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-04.svg", alt="") 
                | Costa Rica