.hero-wrapper
    section(class="hero conteiner")
        p(class="hero__pretitle") Photographer & Filmmaker
        h1(class="hero__title") Aperture Studios
        p(class="hero__text").
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Suspendisse varius enim 
            in eros elementum tristique. Duis cursus, 
            mi quis viverra ornare, eros dolor 
            interdum nulla, ut commodo diam libero 
            vitae erat. Aenean faucibus nibh et justo 
            cursus id rutrum lorem imperdiet. Nunc ut 
            sem vitae risus tristique posuere.
        div(class="hero__photo-info")
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-01.svg", alt="") 
                |1/2000s
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-02.svg", alt="") 
                |f/11
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-03.svg", alt="") 
                |100
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-04.svg", alt="") 
                | Iceland