section(class="logos conteiner")
    h2(class="logos__title") Past clients
    p(class="logos__text") Trusted by your favourite companies
    .logos__main
        img(class="logos__main-img" src="img/logos-01.svg", alt="")
        img(class="logos__main-img" src="img/logos-02.svg", alt="") 
        img(class="logos__main-img" src="img/logos-03.svg", alt="") 
        img(class="logos__main-img" src="img/logos-04.svg", alt="") 
        img(class="logos__main-img" src="img/logos-05.svg", alt="") 