.mount-wrap
    section(class="mount conteiner")
        div(class="mount__main")
            h2(class="mount__main-title") Sunset at Mount Fuji
            p(class="mount__main-text").
                Duis tristique sed lorem a vestibulum. 
                Cras commodo consequat orci, in 
                convallis risus egestas non.
        div(class="mount__photo-info")
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-01.svg", alt="") 
                |1''
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-02.svg", alt="") 
                |f/16
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-03.svg", alt="") 
                |400
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-04.svg", alt="") 
                | Japan