section(class="need conteiner")
    h2(class="need__title").
        Need help with photography or videography?
    p(class="need__text") We're here for you!
    a(class="need__link btn" href="#") Get in touch