.sky-wrap
    section(class="sky conteiner")
        div(class="sky__main")
            h2(class="sky__main-title") Star fall in the Himalayas
            p(class="sky__main-text").
                Nulla rhoncus feugiat eros quis 
                consectetur. Morbi neque ex, 
                condimentum dapibus congue et, 
                vulputate ut ligula.
        div(class="sky__photo-info")
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-01.svg", alt="") 
                |6''
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-02.svg", alt="") 
                |f/11
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-03.svg", alt="") 
                |800
            p(class="hero__photo-info-item")
                img(src="img/photo-info-pic-04.svg", alt="") 
                | Nepal