extends blocks/layout
block titleSite
    title Aperture
block site
    include blocks/_header.pug
    include blocks/_hero.pug
    include blocks/_wedo.pug
    include blocks/_mount.pug
    include blocks/_gear.pug
    include blocks/_green.pug
    include blocks/_logos.pug
    include blocks/_sky.pug
    include blocks/_need.pug
    include blocks/_footer.pug


